<%= form_for(@track) do |f| %>

  <p>
  <%= f.label :barindicator %>
  <br>
  <%= f.text_field :barindicator %>
  </p>

  <p>
  <%= f.label :title %>
  <br>
  <%= f.text_field :title %>
  </p>
  <p>
  <%= f.label :lyrics %>
    <br>
  <%= f.text_area :lyrics %>  
  </p>
  
  <div id="save"> 
    <p>
    <%= f.submit "Save Track" %>
    </p>
  </div>

<%end%>

<div id="track">
  <%=render :partial => 'tracks' %>
</div>