<%= form_for @track do |f| %>

  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label :lyrics %>
  <%= f.text_area :lyrics %>
  </p>

  <p>
  <%= f.label :barindicator %>
  <%= f.text_field :barindicator %>
  </p>

  <p>
  <%= f.submit %>
  </p>

<%end%>