<<<<<<< HEAD
=======
<%= form_for([@track, @lyric]) do |f| %>
    <div class="dropdown">
    <%= f.select :block_type, ["Hook", "Verse"]  %>
    </div>

    <div class="field">
      <%= f.label :content %><br/>
      <%= f.text_area :content %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<%end%>
>>>>>>> f1c501bba952a658d8f37c1052eeb1d301d205da

