<%= form_for(@track) do |f| %>

  <p>
    <%= f.label :title %>
   <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :barindicator %>
    <%= f.text_field :barindicator %>
  </p>

  <div id="save">
    <%= f.submit "Save Track" %>
  </div>

<%end%>

<div id="track">
  <%=render :partial => 'tracks' %>
</div>