<%= form_for(@track) do |f| %>

  <p>
  <%= f.label :barindicator %>
  <%= f.text_field :barindicator %>
  </p>

  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </p>


  <p>
  <%= f.submit "Save Track" %>
  </p>

<%end%>

<div id="track">

  <%=render :partial => 'tracks' %>

</div>