<%= form_for([@track, @lyric], :remote => true) do |f| %>
    <div class="dropdown">
    <%= f.select :block_type, ["Hook", "Verse"]  %>
    </div>

    <div class="field">
      <%= f.label :content %><br/>
      <%= f.text_area :content %>
    </div>

    <div class="actions" id="save">
      <%= f.submit %>
    </div>
<%end%>

