<br>

    <% @track.lyrics.each do |lyric| %>

        -<%= lyric.block_type %>-
            <br><br>
        <%= simple_format(lyric.content) %>
            <br><br>
                <div class="row">
    <div class="small-10 columns">
        <div class="small-2 columns">
             -<%= lyric.track.hook_bars %>-
        </div>
            <br><br>
        <%= link_to "Edit Block", edit_track_lyric_path(@track, lyric)%> |
        <%= link_to "Delete Block", track_lyric_path(@track, lyric), :method => :delete ,:confirm => "You sure Playa?!" %>
        <br><br>
    <% end %>
    </div>
</div>

<div id= "new_lyrics">
    <%= form_for([@track, Lyric.new], html: {style: "display:none;"}) do |f| %>
        <div class="dropdown">
            <%= f.select :block_type, ["Hook", "Verse"]  %>
        </div>

        <div class="field">
            <%= f.text_area :content %>
        </div>

        <div class="actions">
            <%= f.submit "Save Block", :class => 'button tiny alert' %>
        </div>
    <%end%>
</div>
