<div class="row">
  <div class="small-10 columns">
   <div id="Track">
      <%=render :partial => 'tracks' %>
    </div>
  </div>
</div>

<div class="row">

    <div class="small-10 columns">
      <%= link_to "Play",  play_path(@track.id)%> |
      <%= link_to "Back", tracks_path %> |
      <%= link_to "Edit Track", edit_track_path(@track.id) %> |
      <%= link_to "Delete Song", @track, :method => :delete ,:confirm => "Are you sure?" %> |
      <a id="new_lyric_button" href="#new_lyrics">Add New Lyrics</a>
    </div>
  </div>

<br>
<div class="row">
  <div></div>

<div class="small-2 columns"></div>

<div class="small-10 columns">
    <div id="lyrics_partial">
      <%=render :partial => 'lyrics' %>
    </div>
</div></div>