<div id="Track">

  <%=render :partial => 'tracks' %>

</div>

  <div id="lyric">
    <%= form_for([@track, @lyric], :remote => true) do |f| %>
  </div>

    <div class="field">
      <%= f.label :content %><br/>
      <%= f.text_area :content %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>


<% end %>

<%= link_to "edit", edit_track_path(@track.id) %>

<%= link_to "delete", @track, :method => :delete ,:confirm => "Are you sure?" %>


